.container {
    height: 600px;
    width: 99%;
}

.navbar-brand>h1 {
    color: red;
    text-align: center;
}

#orb {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 50px;
}

#spot1 {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 240px;
    margin-top: 15px;
}

#spot2 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-left: 60px;
}

#spot3 {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-left: 90px;
    margin-top: 12px;
}

.visible {
    background-color: #eaeff2;
}

#sky {
    height: 100%;
    width: 100%;
    padding-top: 60px;
}

.sun {
    background-color: #ffdd00;
    border: 10px solid #f1c40f;
}

.sun:hover {
    border: 20px solid #f1c40f;
}

.moon {
    background-color: #bdc3c7;
    border: 10px solid #eaeff2;
}

.moon:hover {
    border: 20px solid #eaeff2;
}

.night {
    background-color: #2c3e50;
}

.day {
    background-color: #37d8e6;
}

;
}
